# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json

# Secrets y credenciales
*.pem
*.key
secrets/
.env
*.tfvars

# OS
.DS_Store
Thumbs.db